<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.board.mapper.BoardMapper">

	<!-- insert id="boardMapper속 메소드명" -->
	<!-- data insert -->
	<insert id="dataInput">
		insert into boardItem(title, text, editer, passwd, date) values (#{title}, #{text}, #{editer}, #{passwd}, #{date})
	</insert>
	
	<!-- totalCount of all items -->
	<select id="totalCount" resultType="int">
		select count(*) from boardItem;
	</select>
	
	<!-- view one data -->
	<select id="viewOne" resultType="com.spring.board.domain.BoardItem">
		select * from boardItem where ID=#{id}
	</select>
	
	<!-- view All items -->
	<!-- after will apply pagination not now -->
	<select id="onePage" resultType="com.spring.board.domain.BoardItem">
		select * from boardItem
	</select>
		
	<!-- update data -->
	<update id="editOne">
		update boardItem set title = #{title}, text = #{text}, viewCnt = #{viewCnt} where ID = #{ID}
	</update>
	
	<!-- delete data -->
	<delete id="deleteOne">
		delete from boardItem where ID = #{ID}
	</delete>

</mapper>